/* TablaReservas.css */
.tabla-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table, th, td {
    border: 1px solid #000000;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #9e480e;
  }
td{
    background-color: rgb(250, 250, 250);
}  