.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
  
  .box {
    width: 300px;
    height: 150px;
    background-color: #f8f8f8b9;
    border: 4px solid #98370a;
    padding: 20px;
    margin: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .button {
    padding: 10px;
    background-color: #8B4513;
    color: white;
    border: none;
    cursor: pointer;
  }
  