.navbar {
    background-color: #753c1bac; /* Color café */
    padding: 10px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 180px;
  }
  
  .nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 10px;
  }
  
  .nav-link {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
  }

  .button {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #fff; /* Borde blanco de 2px */
    border-radius: 5px; /* Esquinas redondeadas */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición de color y fondo */
  }
  
  .button:hover {
    background-color: #fff; /* Cambio de color al pasar el ratón por encima */
    color: #4d2c14; /* Cambio de color del texto al pasar el ratón por encima */
  }
  .center-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border: 2px solid #98370a;
    border-radius: 8px;
    background-color: #f8f8f886;
  }
  
  