/* Registro.css */

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffffa9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
h2 {
    text-align: center;
    color: #333;
  }
  
.separador {
    margin-bottom: 15px;
  }
  
label {
    display: block;
    margin-bottom: 8px;
  }
  
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
.input-container {
    margin-top: 10px;
  }
  
.label-container {
    display: flex;
    align-items:center;
    margin-bottom: 10px;
    margin-left: -395px;
  }
  
.label-container input {
    margin-right: -385px;
  }
  
p {
    text-align:left;
    margin-top: 10px;
  }
  
a {
    color: #007bff;
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
button {
    background-color: #7b330a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #000000;
  }
  